@import url("https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin-left: 5rem;
}

.table {
  border-spacing: 0 15px;
}

.table tr {
  border-radius: 20px;
}

tr th:nth-child(4),
td:nth-child(4) {
  border-radius: 0 0.625rem 0.625rem 0;
}

tr th:nth-child(1),
td:nth-child(1) {
  border-radius: 0.625rem 0 0 0.625rem;
}

.xxl-shadow {
  box-shadow: rgb(179 165 209 / 35%) 0px 2px 6px,
    rgb(179 165 209 / 35%) 0px 4px 40px;
}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #fff;
  border-color: #8247e5 transparent #8247e5 transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

.animation-box-left {
  animation-duration: 20s;
  animation-name: appear;
  animation-iteration-count: infinite;
  animation-direction: unset;
  animation-timing-function: linear;
}

@keyframes appear {
  0% {
    transform: translateX(100%);
    opacity: 0%;
  }
  2% {
    opacity: 100%;
  }
  98% {
    opacity: 100%;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0%;
  }
}


.loading-text {
  animation: fadeInAnimation ease-in 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

.info-span{
  width: 12rem;
}

@layer components {
  * {
    @apply font-ShipporiAntique;
  }
  .sidebar {
    @apply fixed top-0 left-0 z-10 flex flex-col w-20 h-[100%] m-0 text-white shadow-lg bg-primary;
  }
  .sidebar-icon {
    @apply relative flex items-center justify-center w-12 h-12 mx-auto mt-4 text-indigo-400 transition-all duration-300 ease-linear bg-gray-800 shadow-lg cursor-pointer hover:bg-indigo-500 hover:text-white rounded-3xl hover:rounded-xl hover:scale-105;
  }
  .sidebar-icon-bottom {
    @apply absolute flex items-center justify-center w-12
     h-12 mx-auto text-indigo-400 transition-all duration-300 ease-linear 
     bg-indigo-100 shadow-lg cursor-pointer bottom-4 left-4 hover:bg-indigo-500 hover:text-white 
     rounded-3xl hover:rounded-xl hover:scale-105;
  }
  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 text-xs font-bold text-white transition-all duration-100
     origin-left scale-0 bg-gray-800 rounded-md shadow-md min-w-max left-14;
  }
  .connect-div {
    @apply flex justify-end -mr-16 scale-75;
  }
  .span-sidebar-tooltip {
    @apply sidebar-tooltip group-hover:scale-100;
  }
}
